<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Departments</title>-->
<!--</head>-->

<!--<body>-->
<!--<div class="testbox">-->
<!--      <form action="Departments" method="POST">-->
<!--        {% csrf_token %}-->
<!--        <div class="banner">-->
<!--          <h1>Department Details</h1>-->
<!--        </div>-->
<!--        <p>Department Details</p>-->
<!--        <div class="item">-->
<!--          <label for="username">Username<span>*</span></label>-->
<!--          <input id="username" type="text" name="username" required/>-->
<!--        </div>-->
<!--          <div class="item">-->
<!--          <label for="description">Department description<span>*</span></label>-->
<!--          <input id="desc" type="text" name="desc" required/>-->
<!--        </div>-->
<!--          <div class="item">-->
<!--          <label for="username">Username<span>*</span></label>-->
<!--          <input id="username" type="text" name="username" required/>-->
<!--        </div>-->
<!--      </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->