<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>User Profile</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>User Profile</h1>-->
<!--    <p><strong>Name:</strong> {{ user_profile.name }}</p>-->
<!--    <p><strong>Date of Birth:</strong> {{ user_profile.dob }}</p>-->
<!--    <p><strong>Age:</strong> {{ user_profile.age }}</p>-->
<!--    <p><strong>Gender:</strong> {{ user_profile.gender }}</p>-->
<!--    <p><strong>Phone Number:</strong> {{ user_profile.phone_number }}</p>-->
<!--    <p><strong>Email:</strong> {{ user_profile.email }}</p>-->
<!--    <p><strong>Address:</strong> {{ user_profile.address }}</p>-->
<!--    <p><strong>Department:</strong> {{ user_profile.department }}</p>-->
<!--    <p><strong>Course:</strong> {{ user_profile.course }}</p>-->
<!--    <p><strong>Purpose:</strong> {{ user_profile.purpose }}</p>-->

<!--    <h2>Materials Provided</h2>-->
<!--    <ul>-->
<!--        {% for material in user_profile.materials_provided.all %}-->
<!--            <li>{{ material.name }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->
